<a href="https://colab.research.google.com/github/pav16an/PWSKILLS_FULLSTACK_DATA_SCIENCE_PRO/blob/main/20th_Aug'23_Python_basics_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TOPIC: String Based Assignment Problem

### 1.Write a program to reverse a string.

In [ ]:
string="HELLO WORLD!"
reversed_string=string[::-1]
print(reversed_string)

!DLROW OLLEH

### 2. Check if a string is a palindrome.

In [ ]:
String="MALAYALAM"
rev_str=String[::-1]
if rev_str ==String:
  print("The string is a palindrome")
else:
  print("Not an palindrome")

The string is a palindrome

### 3.Convert a string to uppercase.

In [ ]:
string=str(input("enter the string:"))
upper_str=string.upper()
print(f"The uppercase of the give string is :{upper_str}")

enter the string:mohit
The uppercase of the give string is :MOHIT

### 4.Convert a string to lowercase.

In [ ]:
string=str(input("enter the string:"))
lower_str=string.lower()
print(f"The uppercase of the give string is :{lower_str}")

enter the string:DIEEEP
The uppercase of the give string is :dieeep

### 5. Count the number of vowels in a string.

In [ ]:
string=str(input("enter the string:"))
vowel_count=0
vowel='aeiou'
for i in string:
  if i in vowel:
    vowel_count+=1
print("The vowel_count:",vowel_count)

enter the string:internship
The vowel_count: 3

### 6. Count the number of consonants in a string.

In [ ]:
string=str(input("enter the string:"))
constant_value=0
constant="bcdfghjkllmnpqrstvwxyz"
for i in string:
  if i in constant:
      constant_value+=1
print("the constant value:",constant_value)

enter the string:mathematics
the constant value: 7

### 7. Remove all whitespaces from a string.

In [ ]:
string=str(input("enter the string:"))
new_str=string.replace(" ","")
print("the string without space",new_str)

enter the string:this is an python language
the string without space thisisanpythonlanguage

### 8. Find the length of a string without using the `len()` function.

In [ ]:
string=str(input("enter the string:"))
string_count=0
for i in string:
  string_count+=1
print("the string count:",string_count)

enter the string:physics wala
the string count: 12

### 9. Check if a string contains a specific word.

In [ ]:
string = str(input("enter the string:"))
specific_word=str(input("enter the specific word:"))
if specific_word in string:
  print(f"The specific word {specific_word} is available in string")
else:
  print(f"The specific word {specific_word} is not available in string")

enter the string:India is my country
enter the specific word:India
The specific word India is available in string

### 10. Replace a word in a string with another word.

In [ ]:
string="India is an awesome country"
new_string=string.replace("awesome","beautiful")
print("The new string after replacement:",new_string)

the new string after replacement: India is an beautiful country

### 11. Count the occurrences of a word in a string.

In [ ]:
string=str(input("enter the string:"))
word=str(input("enter the string:"))
words=string.split()
count=0
for i in words:
  if i==word:
    count+=1
print(" Count the occurrences of a word",count)

enter the string:India is my country,i love my India
enter the string:India
 Count the occurrences of a word 2

### 12. Find the first occurrence of a word in a string.

In [12]:
string=str(input("enter the sentence:"))
word=str(input("enter the first occurance of a word:"))
index=string.find(word)
if index!=-1:
  print(f"The word of firdt occurance in the sentence",index)
else:
  print(f"the word is not found in the sentence")

the word is not found in the sentence

### 13. Find the last occurrence of a word in a string.

In [ ]:
string=str(input("enter the sentence:"))
word=str(input("enter the occurance of a word:"))
index=string.rfind(word)
if index!=-1:
  print(f"The word of last occurance in the sentence",index)
else:
  print(f"the word is not found in the sentence")

### 14.Split a string into a list of words.

In [ ]:
text=str(input("enter the text:"))
text_split=text.split()
print("After the splitting the words:",text_split)

enter the text:This is an python programming language
After the splitting the words: ['This', 'is', 'an', 'python', 'programming', 'language']

### 15. Join a list of words into a string.

In [ ]:
word_list = ["This", "is", "a", "list", "of", "words"]
resulting_string = " ".join(word_list)
print(resulting_string)

This is a list of words

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
text ="This is an example for coverting"
underscore_text=text.replace(" ","_")
print("after converted string:",underscore_text)

after converted string: This_is_an_example_for_coverting

### 17. Check if a string starts with a specific word or phrase.

In [ ]:
text=str(input("enter the text:"))
specific_word=str(input("enter the specific_word"))
if text.startswith(specific_word):
  print("string is start with a specific word")
else:
  print("string is not start with a specific word")

enter the text:This is a statement
enter the specific_wordThis
string is start with a specific word

### 18. Check if a string ends with a specific word or phrase.

In [ ]:
text=str(input("enter the text:"))
specific_word=str(input("enter the specific_word"))
if text.endswith(specific_word):
  print("string is end with a specific word")
else:
  print("string is not end with a specific word")

enter the text:This is a statement
enter the specific_wordstatement
string is end with a specific word

### Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
string=str(input("enter the string"))
title=string.title()
print("Title case of the string:",title)

enter the stringhello world!
Title case of the string: Hello World!

### 20. Find the longest word in a string.

In [ ]:
string=str(input("enter the string:"))
text=string.split()
longest_word=""
for i in text:
  if len(i)>len(longest_word):
    longest_word=i
print("The longest word in  the string:",longest_word)

enter the string:this is a statement
The longest word in  the string: statement

### 21. Find the shortest word in a string.

In [ ]:
string=str(input("enter the string:"))
text=string.split()
short_word=""
for i in text:
  if len(i)<len(text):
    short_word=i
print("The short word in the string is :",short_word)

enter the string:data science is artificial
The short word in the string is : is

### 22. Reverse the order of words in a string.

In [ ]:
string=str(input("enter the text:"))
text=string.split()
rev_ord=text[::-1]
result=" ".join(rev_ord)
print(result)

enter the text:welcome to the world
world the to welcome

### 23. Check if a string is alphanumeric.

In [ ]:
string = str(input("enter the sting:"))
if string.isalnum():
  print("The string is alphanumeric")
else:
  print("The string is not alphanumeric")

enter the sting:216Q1A4270
The string is alphanumeric

### 24. Extract all digits from a string.

In [ ]:
string=str(input("enter the string:"))
digit=""
for i in string:
  if i.isdigit():
    digit+=i
print("The digits are:",digit)

enter the string:216Q1A4270
The digits are: 21614270

### 25. Extract all alphabets from a string.

In [ ]:
string=str(input("enter the string:"))
alpha=""
for i in string:
  if i.isalpha():
    alpha+=i
print("The alphabets are:",alpha)

enter the string:216Q1A4270
The alphabets are: QA

### 26. Count the number of uppercase letters in a string.

In [ ]:
text=str(input("enter the string:"))
count=0
for i in text:
  if i.isupper():
    count+=1
print(count)

enter the string:Dileep Kumar
2

### 27. Count the number of lowercase letters in a string.

In [ ]:
text=str(input("enter the string:"))
count=0
for i in text:
  if i.islower():
    count+=1
print(count)

enter the string:Dileep Kumar
9

### 28. Swap the case of each character in a string.

In [ ]:
string=str(input("enter the string"))
swap=string.swapcase()
print("After swap the case:",swap)

enter the stringHELLO world!
After swap the case: hello WORLD!

### 29. Remove a specific word from a string.

In [ ]:
string=str(input("enter the string:"))
word=str(input("enter the specific word:"))
modified_string=string.replace(word,"")
print("The modified string after removing:",modified_string)

enter the string:my name is dileep kumar
enter the specific word:name
The modified string after removing: my  is dileep kumar

### 30. Check if a string is a valid email address.

In [ ]:
email = "dileep@email.com"
Flag = True
if "@" not in email:
        Flag= False
username, domain = email.split("@")
if email.count("@") != 1:
    Flag = False
if not username or " " in username:
    Flag =False
if domain.count(".") != 1:
    Flag=False
if not domain or " " in domain:
    Flag=False
if Flag:
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

dileep@email.com is a valid email address.

31. Extract the username from an email address string.

In [ ]:
email="dileep@gmail.com"
username,domain=email.split("@")
print(f"The username for this email is :{username}")

The username for this email is :dileep

### 32. Extract the domain name from an email address string.

In [ ]:
email="dileep@gmail.com"
username,domain=email.split("@")
print(f"The domain for this email is :{domain}")

The domain for this email is :gmail.com

### 33. Replace multiple spaces in a string with a single space.

In [ ]:
string=str(input("enter the string:"))
modified_string=" ".join(string.split())
print(modified_string)

enter the string:My        name    is  Dileep
My name is Dileep

### 34. Check if a string is a valid URL.

In [ ]:
def is_valid_url(url):
    valid_schemes = ["http", "https", "ftp", "ftps"]
    parsed_url = url.split("://")
    if len(parsed_url) != 2:
        return False
    scheme = parsed_url[0]
    if scheme not in valid_schemes:
        return False
    remaining_url = parsed_url[1]
    for char in remaining_url:
        if char.isalnum() or char in "-.":
            continue
        else:
            return False

    return True

# Example usage
url = "https://www.example.com"
if is_valid_url(url):
    print(f"{url} is a valid URL.")
else:
    print(f"{url} is not a valid URL.")

https://www.example.com is a valid URL.

### 35. Extract the protocol (http or https) from a URL string.

In [ ]:
url="https://www.example.com"
url_split=url.split(":")[0]
print(f"The protocol of the url is :{url_split}")

The protocol of the url is :https

### 36. Find the frequency of each character in a string.

In [ ]:
def character_frequency(input_string):
    frequency = {}

    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1

    return frequency

input_str = "hello world"

char_freq = character_frequency(input_str)

for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

### 37. Remove all punctuation from a string.

In [ ]:
string=str(input("enter the string:"))
non_punct_str=""
punctuation="!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"
for i in string:
  if i not in punctuation:
    non_punct_str+=i
print(non_punct_str)

enter the string:hello"s world!
hellos world

### 38. Check if a string contains only digits.

In [ ]:
string=str(input("enter the string:"))
if string.isdigit():
  print("The given string contains only digits",string)
else:
  print("The given string not contain's only digits",string)

enter the string:2127SH
The given string not contain's only digits 2127SH

### 39. Check if a string contains only alphabets.

In [ ]:
string=str(input("enter the string:"))
if string.isalpha():
  print(f"The given string '{string}' contains only alphabets")
else:
  print(f"The given string '{string}'not contain's only alphabets")

enter the string:Dileep
The given string 'Dileep' contains only alphabets

### 40. Convert a string to a list of characters.

In [ ]:
string=str(input("enter the string"))
char=list(string)
print("The list of characters",char)

enter the stringHello world
The list of characters ['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

### 41. Check if two strings are anagrams.

In [ ]:
string1=str(input("enter the string1:"))
string2=str(input("enter the string2:"))
string1.lower()
string2.lower()
if sorted(string1)==sorted(string2):
  print("The given strings are anagrams")
else:
  print("The give strings are not anagrams")

The give strings are not anagrams

### 42. Encode a string using a Caesar cipher

In [ ]:
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

### 43. Decode a Caesar cipher encoded string.

In [ ]:
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

### 44. Find the most frequent word in a string.

In [ ]:
def find_most_frequent_word(input_string):
    words = input_string.split()
    cleaned_words = []
    for word in words:
        cleaned_word = ''.join(char for char in word if char.isalnum()).lower()
        if cleaned_word:
            cleaned_words.append(cleaned_word)

    if not cleaned_words:
        return None
    word_counts = {}
    for word in cleaned_words:
        if word in word_counts:
            word_counts[word] += 1
        else:
            word_counts[word] = 1
    most_frequent_word = max(word_counts, key=word_counts.get)

    return most_frequent_word

# Example usage:
input_string = "This is a sample string. This string contains some words, and some of them are unique. This is a sample string."
most_frequent_word = find_most_frequent_word(input_string)
print("Most frequent word:", most_frequent_word)

Most frequent word: this

### 45. Find all unique words in a string.

In [ ]:
def remove_punctuation_and_lowercase(word):
    # Define a list of punctuation characters you want to remove
    punctuation = ['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']

    # Remove punctuation characters and convert to lowercase
    cleaned_word = ''.join([char for char in word if char not in punctuation]).lower()
    return cleaned_word

def find_unique_words(input_string):
    words = input_string.split()
    cleaned_words = [remove_punctuation_and_lowercase(word) for word in words]

    unique_words = set(cleaned_words)
    return unique_words

# Example usage:
input_string = "This is a sample string. This string contains some words, and some of them are unique."
unique_words = find_unique_words(input_string)
print(unique_words)

{'some', 'is', 'words', 'and', 'a', 'of', 'this', 'unique', 'them', 'contains', 'are', 'sample', 'string'}

### 46. Count the number of syllables in a string.

In [ ]:
def count_syllables(word):
    word = word.lower()

    # Define a set of vowel characters
    vowels = "aeiouy"
    syllable_count = 0
    consecutive_vowels = False

    for char in word:
        if char in vowels:
            if not consecutive_vowels:
                syllable_count += 1
            consecutive_vowels = True
        else:
            consecutive_vowels = False
    if word.endswith('e'):
        syllable_count -= 1
    if word.endswith('le'):
        syllable_count +=1
    if syllable_count == 0:
        syllable_count = 1

    return syllable_count
input_word = "syllable"
syllable_count = count_syllables(input_word)
print("Syllables in the word:", syllable_count)

Syllables in the word: 3

### 47. Check if a string contains any special characters.

In [ ]:
string=str(input("enter the string:"))
special_string=('!@#$%^&*()_+{}\[\]:;<>,.?~\\/')
if string in special_string:
  print(f"The string contains this '{special_string}' special character ")
else:
  print("The string does not contain any specia character")

enter the string:hello@><world
The string does not contain any specia character

### 48. Remove the nth word from a string.

In [ ]:
def remove_nth_word(input_string, n):
    words = input_string.split()

    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None
input_str = "This is an example sentence to test the function."
n_value = 4
modified_str, removed_word = remove_nth_word(input_str, n_value)
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

### 49. Insert a word at the nth position in a string.

In [ ]:
def insert_word_at_position(input_string, word_to_insert, n):
    words = input_string.split()
    if 0 <= n <= len(words):
        words.insert(n, word_to_insert)
        result_string = ' '.join(words)

        return result_string
    else:
        return input_string + ' ' + word_to_insert
input_string = "This is a sample string, and we want to insert a word."
word_to_insert = "new"
n = 5
new_string = insert_word_at_position(input_string, word_to_insert, n)
print("the new string is",new_string)

the new string is This is a sample string, new and we want to insert a word.

### 50. Convert a CSV string to a list of lists.

In [ ]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []

    for line in lines:

        fields = line.split(',')
        result.append(fields)

    return result
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
list_of_lists = csv_string_to_list(csv_data)
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List based practice problem :

### 1. Create a list with integers from 1 to 10.

In [ ]:
lst=[]
for i in range(1,11):
  lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [ ]:
lst=[10,20,30,40,50]
count=0
for i in lst:
  count+=1
print("the length of list is :",count)

the length of list is : 5

### 3. Append an element to the end of a list.

In [ ]:
lst=[10,20,30,40,50]
lst.append(60)
print("list append",lst)

list append [10, 20, 30, 40, 50, 60]

### 4. Insert an element at a specific index in a list.

In [ ]:
lst=[10,20,30,40,50]
lst.insert(2,90)
print("my updated list",lst)

my updated list [10, 20, 90, 30, 40, 50]

### 5. Remove an element from a list by its value.

In [ ]:
lst=[23,45,64,23,56,23]
lst.remove(45)
print("the updated list after remove",lst)

the updated list after remove [23, 64, 23, 56, 23]

### 6. Remove an element from a list by its index.

In [ ]:
lst=[40,65,23,54,23,54]
lst.pop(3)
print("After remove an element from a list by index:",lst)

After remove an element from a list by index: [40, 65, 23, 23, 54]

### 7. Check if an element exists in a list.

In [ ]:
lst=[23,54,87,98,67,12]
element=int(input("enter the element:"))
if element in lst:
  print("element exist in the list")
else:
  print("element not exist in the list")

enter the element:54
element exist in the list

### 8. Find the index of the first occurrence of an element in a list.

In [ ]:
lst=[12,32,54,76,89,9]
element=int(input("enter the element:"))
print("The index of an element is:",lst.index(element))

enter the element:76
The index of an element is: 3

### 9. Count the occurrences of an element in a list.

In [ ]:
lst=[1,23,34,65,23,54,76,45]
element=int(input("Enter the element"))
print("The count of an element is:",lst.count(element))

Enter the element23
The count of an element is: 2

### 10. Reverse the order of elements in a list.

In [ ]:
lst=[8,45,453,2345,78789]
print("The reverse of a list is:",lst[::-1])

The reverse of a list is: [78789, 2345, 453, 45, 8]

### 11. Sort a list in ascending order.

In [ ]:
lst=[87,23,76,43,3,45,33]
lst.sort()
print("The ascending order of a list is:",lst)

The ascending order of a list is: [3, 23, 33, 43, 45, 76, 87]

### 12. Sort a list in descending order.

In [ ]:
lst=[87,23,76,43,3,45,33]
lst.sort()
print("The descending  order of a list is:",lst[::-1])

The descending  order of a list is: [87, 76, 45, 43, 33, 23, 3]

### 13. Create a list of even numbers from 1 to 20.

In [ ]:
lst=[]
for i in range(1,21):
  if i%2==0:
    lst.append(i)
print("The list of even numbers are:",lst)

The list of even numbers are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [ ]:
lst=[]
for i in range(1,21):
  if i%2!=0:
    lst.append(i)
print("The list of odd numbers are:",lst)

The list of odd numbers are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [ ]:
lst=[1,23,34,45,56,67,78,89,99,100]
sum=0
for i in lst:
  sum+=i
print("The sum of a list is:",sum)

The sum of a list is: 592

### 16. Find the maximum value in a list.

In [ ]:
lst=[1,23,45,56,67,78,99]
print("The max number in list is",max(lst))

The max number in list is 99

### 17. Find the minimum value in a list.

In [ ]:
lst=[1,23,45,56,67,78,99]
print("The max number in list is",min(lst))

The max number in list is 1

### 18. Create a list of squares of numbers from 1 to 10.

In [ ]:
lst=[]
product=0
for i in range(1,11):
  product=i*i
  lst.append(product)
print("The squares of a numbers are:",lst)

The squares of a numbers are: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [ ]:
import random
number=[random.randint(1,100) for _ in range(1,11)]
print("The random number of a list",number)

The random number of a list [18, 74, 76, 55, 31, 77, 72, 28, 82, 52]

### 20. Remove duplicates from a list.

In [ ]:
lst=[12,23,33,33,43,33,54,63,73,23,73,63]
lst1=list(set(lst))
print("The list after removing duplicates :",lst1)

The list after removing duplicates : [33, 73, 43, 12, 54, 23, 63]

### 21. Find the common elements between two lists.

In [ ]:
lst1=[12,22,32,42,52,63,75,78]
lst2=[12,22,34,75,23,76,32,98]
lst3=list(set(lst1).intersection(lst2))
print("The common elements of an list is",lst3)

The common elements of an list is [32, 75, 12, 22]

### 22. Find the difference between two lists.

In [ ]:
lst1=[12,22,32,42,52,63,75,78]
lst2=[12,22,34,75,23,76,32,98]
lst3=list(set(lst1).difference(lst2))
print("The difference elements of an list is",lst3)

The difference elements of an list is [42, 78, 52, 63]

### 23. Merge two lists.

In [ ]:
lst1=[12,22,32,42,52,63,75,78]
lst2=[12,22,34,75,23,76,32,98]
lst3=lst1+lst2
print("The final list is",lst3)

The final list is [12, 22, 32, 42, 52, 63, 75, 78, 12, 22, 34, 75, 23, 76, 32, 98]

### 24. Multiply all elements in a list by 2.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9]
lst1=[]
for i in lst:
  i*=2
  lst1.append(i)
print("The list is:",lst1)

The list is: [2, 4, 6, 8, 10, 12, 14, 16, 18]

### 25. Filter out all even numbers from a list.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9]
lst1=[]
for i in lst:
  if i%2==0:
    lst1.append(i)
print("The final list is ",lst1)

The final list is  [2, 4, 6, 8]

### 26. Convert a list of strings to a list of integers.

In [ ]:
lst=["12","32","43","5654","34"]
lst1=[]
for i in lst:
  lst1.append(int(i))
print("The list of integers are:",lst1)

The list of integers are: [12, 32, 43, 5654, 34]

### 27. Convert a list of integers to a list of strings.

In [ ]:
lst=[12,32,43,5654,34]
lst1=[]
for i in lst:
  lst1.append(str(i))
print("The list of strings are:",lst1)

The list of strings are: ['12', '32', '43', '5654', '34']

### 28. Flatten a nested list.

In [ ]:
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))
        else:
            flat_list.append(item)
    return flat_list
nested_list = [1, [2, 3], [4, [5, 6]], 7]
flattened_list = flatten_list(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7]

### 29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
n = 10
fibonacci_sequence = [0, 1]
for i in range(2, n):
    next_fibonacci = fibonacci_sequence[i - 1] + fibonacci_sequence[i - 2]
    fibonacci_sequence.append(next_fibonacci)
print("list of the first 10 Fibonacci numbers are:",fibonacci_sequence)

list of the first 10 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [ ]:
my_list = [1, 2, 3, 4, 5]

is_sorted_ascending = True
for i in range(1, len(my_list)):
    if my_list[i] < my_list[i - 1]:
        is_sorted_ascending = False
        break
print(is_sorted_ascending)
my_list = [5, 4, 3, 2, 1]
is_sorted_ascending = True
for i in range(1, len(my_list)):
    if my_list[i] < my_list[i - 1]:
        is_sorted_ascending = False
        break

print(is_sorted_ascending)

True
False

### 31. Rotate a list to the left by `n` positions.

In [ ]:
my_list = [1, 2, 3, 4, 5]
n = 2

n = n % len(my_list)
rotated_list = my_list[n:] + my_list[:n]

print(rotated_list)

[3, 4, 5, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [ ]:
my_list = [1, 2, 3, 4, 5]
n = 2

n = n % len(my_list)
rotated_list = my_list[-n:] + my_list[:-n]

print(rotated_list)

[4, 5, 1, 2, 3]

### 33. Create a list of prime numbers up to 50.

In [ ]:
def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(50)
print("The prime numbers up to 50:",prime_list)

The prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size n.

In [ ]:
def split_list_into_chunks(lst, n):

    return [lst[i:i + n] for i in range(0, len(lst), n)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
result = split_list_into_chunks(my_list, chunk_size)
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 35. Find the second largest number in a list.

In [ ]:
lst=[23,54,11,89,76,99,56,11]
lst.sort()
print("The second largest number in a list :",lst[-2])

The second largest number in a list : 89

### 36. Replace every element in a list with its square.

In [ ]:
lst=[1,2,3,4,5]
lst2=[]
for i in lst:
  i=i*i
  lst2.append(i)
print("The squar of a list is :",lst2)

The squar of a list is : [1, 4, 9, 16, 25]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
my_list = ['prasad', 'mohit', 'dinesh', 'pavan']

my_dict = {}
for index in range(len(my_list)):
    value = my_list[index]
    my_dict[value] = index

print(my_dict)

{'prasad': 0, 'mohit': 1, 'dinesh': 2, 'pavan': 3}

### 38. Shuffle the elements of a list randomly.

In [ ]:
import random
lst=[10,20,30,40,50]
random.shuffle(lst)
print("The shuffle of a list is:",lst)

The shuffle of a list is: [40, 50, 10, 20, 30]

### 39. Create a list of the first 10 factorial numbers

In [ ]:
lst = []   #empty list

for i in range(10): # iterating till 10 numbers
  ans = 1  # initiallize  1 for multiplication
  for j in range(1,i+1):
    ans*=j
  lst.append(ans)
  ans = 1
print(lst)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### 40. Check if two lists have at least one element in common.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

common_element = False
for element in list1:
  for element_2 in list2:
    if element == element_2:
      common_element = True
      break
  if common_element:
    break

print(common_element)

True

### 41. Remove all elements from a list.

In [ ]:
lst=[1,23,3445,33,765,34,23]
lst.clear()
print("The list after clearing:",lst)

The list after clearing: []

### 42. Replace negative numbers in a list with 0.

In [ ]:
lst=[-2,23,-33,32,54,99]
for i in range(len(lst)):
  if lst[i]<0:
    lst[i]=0
print(lst)

[0, 23, 0, 32, 54, 99]

### 43. Convert a string into a list of words.

In [ ]:
string="This is an python programming"
lst=string.split()
print(lst)

['This', 'is', 'an', 'python', 'programming']

### 44. Convert a list of words into a string.

In [ ]:
lst=['This', 'is', 'an', 'python', 'programming']
string=' '.join(lst)
print(string)

This is an python programming

### 45. Create a list of the first `n` powers of 2.

In [ ]:
lst=[]
for i in range(5):
  i=2**i
  lst.append(i)
print("list of the first n powers of 2:",lst)

list of the first n powers of 2: [1, 2, 4, 8, 16]

### 46. Find the longest string in a list of strings.

In [ ]:
lst=['This', 'is', 'an', 'python', 'programming']
longest_string=""
for i in lst:
  if len(i)>len(longest_string):
    longest_string=i
print("The longest string in a list is :",longest_string)

The longest string in a list is : programming

### 47. Find the shortest string in a list of strings.

In [ ]:
string_list = ["prasad", "dileep", "mohit", "pavan kumar", "shanmukh"]
shortest_string = string_list[0]
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest string:", shortest_string)

Shortest string: mohit

### 48. Create a list of the first `n` triangular numbers.

In [ ]:
lst=[]
for i in range(1,5):
  i=i*(i+1)//2
  lst.append(i)
print(lst)

[1, 3, 6, 10]

### 49. Check if a list contains another list as a subsequence.

In [ ]:
main_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [3, 4, 5]

main_len = len(main_list)
sub_len = len(sub_list)

for i in range(main_len - sub_len + 1):
    if main_list[i:i + sub_len] == sub_list:
        print("sub_list is a subsequence of main_list")
        break
else:
    print("sub_list is not a subsequence of main_list")

sub_list is a subsequence of main_list

## 50. Swap two elements in a list by their indices.

In [ ]:
list1 = [1, 2, 3, 4, 5]
index1 = 0
index2 = 2
temp = list1[index1]
list1[index1] = list1[index2]
list1[index2] = temp

print("List after swapping elements:",list1)

List after swapping elements: [3, 2, 1, 4, 5]

# Tuple based practice problem :

### 1. Create a tuple with integers from 1 to 5.

In [ ]:
tup=(1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [ ]:
tup=(1,2,3,4,5)
my_tup=tup[3]
print("The third element of a tuple :",my_tup)

The third element of a tuple : 4

### 3. Find the length of a tuple without using the `len()` function.

In [ ]:
tup=(1,2,3,4,5,6,7,8,9,10)
count=0
for _ in tup:
  count+=1
print("The length  of a tuple is :",count)

The length  of a tuple is : 10

### 4. Count the occurrences of an element in a tuple.

In [ ]:
tup=(11,21,31,21,41,41,21,51)
element=21
count=0
for i in tup:
  if i==element:
    count+=1
print("The occurance of a 21 element is :",count)

The occurance of a 21 element is : 3

### 5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
tup=(10,20,30,40,50)
my_tup=tup.index(20)
print("The index of the first occurrence of an element in a tuple :",my_tup)

The index of the first occurrence of an element in a tuple : 1

## 6. Check if an element exists in a tuple.

In [ ]:
tup=(10,20,30,40,50)
my_element=30
if my_element in tup:

    print("element is exist in a tuple")
else:
    print("element is not exist in a tuple")

element is exist in a tuple

### 7. Convert a tuple to a list.

In [ ]:
tup=(1,2,3,4,5,6)
lst=list(tup)
print(lst)

[1, 2, 3, 4, 5, 6]

### 8. Convert a list to a tuple.

In [ ]:
lst=[1,2,3,4,5]
tup=tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

### 9. Unpack the elements of a tuple into variables.

In [ ]:
my_tuple = (10, 20, 30)
var1, var2, var3 = my_tuple
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

### 10. Create a tuple of even numbers from 1 to 10.

In [ ]:
even_tup=tuple(i for i in range(2,11,2))
print("The even numbers are:",even_tup)

The even numbers are: (2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
odd_tup=tuple(i for i in range(1,11,2))
print("The odd numbers are:",odd_tup)

The odd numbers are: (1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [ ]:
tup1=(1,2,3)
tup2=(4,5,6)
tup3=tup1+tup2
print("Concatination of two tuples are:",tup3)

Concatination of two tuples are: (1, 2, 3, 4, 5, 6)

### 13. Repeat a tuple three times.

In [ ]:
tup1=(1,2,3)
tup2=tup1*3
print(tup2)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### 14. Check if a tuple is empty.

In [ ]:
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

### 15. Create a nested tuple.

In [ ]:
nested_tuple = ((1, 2, 3), ('Dileep','Mohit','prasad'), (True, False))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('Dileep', 'Mohit', 'prasad'), (True, False))

## 16. Access the first element of a nested tuple.

In [ ]:
nested_tuple = ((1, 2, 3), ('Dileep','Mohit','prasad'), (True, False))
tup=nested_tuple[0]
print("The first tuple of a nested tuple is:",tup)

The first tuple of a nested tuple is: (1, 2, 3)

### 17. Create a tuple with a single element.

In [ ]:
tup=(23,)
print(tup)
print(type(tup))

(23,)
<class 'tuple'>

### 18. Compare two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print("tuple1 == tuple2:", tuple1 == tuple2)
print("tuple1 != tuple2:", tuple1 != tuple2)
print("tuple1 < tuple2:", tuple1 < tuple2)
print("tuple1 <= tuple2:", tuple1 <= tuple2)
print("tuple1 > tuple2:", tuple1 > tuple2)
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

### 19. Delete a tuple.

In [ ]:
tup=(12,23,45,67,87,65,34)
del tup

### 20. Slice a tuple.

In [ ]:
tup=(12,23,45,67,87,65,34)
slice_tup=tup[2:6]
print("Slicing of a tupe is :",slice_tup)

Slicing of a tupe is : (45, 67, 87, 65)

### 21. Find the maximum value in a tuple.

In [ ]:
tup=(12,23,45,67,87,65,34)
max_tup=max(tup)
print("The maximun value in the tupe is :",max_tup)

The maximun value in the tupe is : 87

### 22. Find the minimum value in a tuple.

In [ ]:
tup=(12,23,45,67,87,65,34)
max_tup=min(tup)
print("The maximun value in the tupe is :",max_tup)

The maximun value in the tupe is : 12

### 23. Convert a string to a tuple of characters.

In [ ]:
string="Dileep"
tup=tuple(string)
print("string to a tuple of characters:",tup)

string to a tuple of characters: ('D', 'i', 'l', 'e', 'e', 'p')

### 24. Convert a tuple of characters to a string.

In [ ]:
tup=('D', 'i', 'l', 'e', 'e', 'p')
string="".join(tup)
print(" tuple of characters to a string:",string)

 tuple of characters to a string: Dileep

### 25. Create a tuple from multiple data types.

In [ ]:
tup=(1,3.4,"prasad",True)
print(tup)

(1, 3.4, 'prasad', True)

### 26. Check if two tuples are identical.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

### 27. Sort the elements of a tuple.

In [ ]:
tup=(12,23,45,67,87,65,34)
print(tuple(sorted(tup)))

(12, 23, 34, 45, 65, 67, 87)

### 28. Convert a tuple of integers to a tuple of strings.

In [ ]:
tup_int=(1,2,3,4,5)
lst=[]
for i in tup_int:
  i=str(i)
  lst.append(i)
print(tuple(lst))

('1', '2', '3', '4', '5')

### 29. Convert a tuple of strings to a tuple of integers.

In [ ]:
tup_str=('1', '2', '3', '4', '5')
lst=[]
for i in tup_int:
  i=int(i)
  lst.append(i)
print(tuple(lst))

(1, 2, 3, 4, 5)

### 30.Merge of two tuple

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

### 31. Flatten a nested tuple.

In [ ]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

### 32. Create a tuple of the first 5 prime numbers.

In [ ]:
prime_numbers = []
number = 2

while len(prime_numbers) < 5:
    is_prime = True
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(number)
    number += 1
prime_numbers_tuple = tuple(prime_numbers)

print(prime_numbers_tuple)

(2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [ ]:
tup=(1,2,3,2,1)
rev_tup=tup[::-1]
if tup==rev_tup:
  print("Given tuple is palindrome")
else:
  print("Given tuple is not an palinndrome")

Given tuple is palindrome

### 34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
lst=[]
for i in range(1,6):
  i=i*i
  lst.append(i)
print(tuple(lst))

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [ ]:
tup=(1,2,3,4,5,6,7,8,9,10)
lst=[]
for i in tup:
  if i%2!=0:
    lst.append(i)
print(tuple(lst))

(1, 3, 5, 7, 9)

### 36. Multiply all elements in a tuple by 2.

In [ ]:
tup=(1,2,3,4,5,6,7,8,9,10)
lst=[]
for i in tup:
  i=i*2
  lst.append(i)
print(tuple(lst))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

### 37. Create a tuple of random numbers.

In [ ]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))
print("Random tuple:", random_tuple)

Random tuple: (39, 88, 8, 99, 69, 18, 74, 65, 77, 34)

### 38. Check if a tuple is sorted.

In [ ]:
my_tuple = (1, 3, 5, 7, 9)


is_sorted = True
length = len(my_tuple)

for i in range(length - 1):
    if my_tuple[i] > my_tuple[i + 1]:
        is_sorted = False
        break

if is_sorted:
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

### 39. Rotate a tuple to the left by `n` positions.

In [ ]:
tup=(1,2,3,4,5)
n=2
n = n % len(tup)
rotated_tup = tup[n:] + tup[:n]

print(rotated_tup)

(3, 4, 5, 1, 2)

### 40. Rotate a tuple to the right by `n` positions.

In [ ]:
tup=(1,2,3,4,5)
n=2
n = n % len(tup)
rotated_tup = tup[-n:] + tup[:-n]

print(rotated_tup)

(4, 5, 1, 2, 3)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
n = 5
fibonacci_sequence = [0, 1]
for i in range(2, n):
    next_fibonacci = fibonacci_sequence[i - 1] + fibonacci_sequence[i - 2]
    fibonacci_sequence.append(next_fibonacci)
print("tuple of the first 10 Fibonacci numbers are:",(tuple(fibonacci_sequence)))

tuple of the first 10 Fibonacci numbers are: (0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [ ]:
input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas: 34,,564,23,53,23
User input tuple: ('34', '', '564', '23', '53', '23')

### 43. Swap two elements in a tuple.

In [ ]:
tup=(1,2,3,4,5)
index1=1
index2=3
lst=list(tup)
lst[index1],lst[index2]=lst[index2],lst[index1]
print(tuple(lst))

(1, 4, 3, 2, 5)

### 44. Reverse the elements of a tuple.

In [ ]:
tup=(1,2,3,4,5)
tup1=tup[::-1]
print("The reverse of the tuple is:",tup1)

The reverse of the tuple is: (5, 4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [ ]:
lst=[]
for i in range(1,6):
  i=i**2
  lst.append(i)
print(" tuple of the first 5 powers of 2 :",tuple(lst))

 tuple of the first 5 powers of 2 : (1, 4, 9, 16, 25)

### 46. Find the longest string in a tuple of strings

In [ ]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
longest_string = max(string_tuple)
print("Longest string:", longest_string)

Longest string: watermelon

### 47. Find the shortest string in a tuple of strings.

In [ ]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
longest_string = min(string_tuple,key=len)
print("Longest string:", longest_string)

Longest string: kiwi

### 48. Create a tuple of the first `n` triangular numbers.

In [ ]:
lst=[]
for i in range(1,6):
  i=i*(i+1)//2
  lst.append(i)
print(tuple(lst))

(1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
original_tuple = (1, 2, 3, 4, 5, 6, 7)
subsequence_tuple = (3, 4, 5)

for i in range(len(original_tuple) - len(subsequence_tuple) + 1):
    if original_tuple[i:i + len(subsequence_tuple)] == subsequence_tuple:
        print("Subsequence found at index", i)
        break
else:
    print("Subsequence not found")

Subsequence found at index 2

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
lst=[]
n=10
for i in range(1,n):
    lst.append(i%2)
print(tuple(lst))

(1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set based problems:

### 1. Create a set with integers from 1 to 5

In [ ]:
my_set=set()
for i in range(1,6):
  my_set.add(i)
print(my_set)

{1, 2, 3, 4, 5}

### 2. Add an element to a set

In [ ]:
my_set={1,2,3,4,5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set

In [ ]:
my_set={1,2,3,4,5}
my_set.remove(5)
print(my_set)

{1, 2, 3, 4}

### 4. Check if an element exists in a set.

In [ ]:
my_set={1,2,3,4,5}
element=int(input("enter the element:"))
if element in my_set:
  print("Element exist in the set")
else:
  print("Element not exist in the set")

enter the element:3
Element exist in the set

### 5. Find the length of a set without using the `len()` function

In [ ]:
my_set={1,2,3,4,5}
count=0
for i in my_set:
  count+=1
print(" the length of a set is",count)

 the length of a set is 5

### 6. Clear all elements from a set.

In [ ]:
set_num={12,34,45,65,23,75,86}
set_num.clear()
print(set_num)

set()

### 7. Create a set of even numbers from 1 to 10

In [ ]:
even_set=set()
for i in range(1,11):
  if i%2==0:
    even_set.add(i)
print("The set of even numbers are:",even_set)

The set of even numbers are: {2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10

In [ ]:
odd_set=set()
for i in range(1,11):
  if i%2!=0:
    odd_set.add(i)
print("The set of odd numbers are",odd_set)

The set of odd numbers are {1, 3, 5, 7, 9}

### 9. Find the union of two sets

In [ ]:
set1={1,2,3,4,5,6,7}
set2={5,6,7,8,9,10}
set3=set1.union(set2)
print("The union of two sets are:",set3)

The union of two sets are: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 10. Find the intersection of two sets

In [ ]:
set1={1,2,3,4,5,6,7}
set2={5,6,7,8,9,10}
set3=set1.intersection(set2)
print(" the intersection of two sets",set3)

 the intersection of two sets {5, 6, 7}

### 11. Find the difference between two sets.

In [ ]:
set1={1,2,3,4,5,6,7}
set2={5,6,7,8,9,10}
set3=set1.difference(set2)
print(" the difference between two sets",set3)

 the difference between two sets {1, 2, 3, 4}

### 12. Check if a set is a subset of another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

### 13. Check if a set is a superset of another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset=set2.issuperset(set1)
print("Is set2 is superset of set1",is_subset)

Is set2 is superset of set1 True

### 14. Create a set from a list

In [ ]:
lst=[1,2,3,4,5]
new_set=set(lst)
print("set from list is",new_set)

set from list is {1, 2, 3, 4, 5}

### 15. Convert a set to a list.

In [ ]:
my_set={1, 2, 3, 4, 5}
lst=list(my_set)
print("set to a list is",lst)

set to a list is [1, 2, 3, 4, 5]

### 16. Remove a random element from a set.

In [ ]:
import random
my_set={1,2,3,4,5,6,7,8,9,10}
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("removing of random element is",my_set
+)

removing of random element is {1, 2, 3, 4, 5, 6, 7, 9, 10}

### 17. Pop an element from a set.

In [ ]:
my_set={1,2,3,4,5,6,7,8,9,10}
my_set.pop()
print(my_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

### 18. Check if two sets have no elements in common.

In [ ]:
set1={1,2,3,4,5}
set2={5,6,7,8,9}
common_elements = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have common elements: {5}

### 19. Find the symmetric difference between two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference = set1 ^ set2

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

### 20. Update a set with elements from another set.

In [ ]:
set1 = {1, 2, 3}
print("Set 1:", set1)
set2 = {3, 4, 5}
print("Set 2:", set2)
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

### 21. Create a set of the first 5 prime numbers.

In [ ]:

prime_set = set()
num = 2
while len(prime_set) < 5:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_set.add(num)

    num += 1

print(prime_set)

{2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

### 23. Create a frozen set

In [ ]:
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

### 24. Check if a set is disjoint with another set.

In [ ]:
set1={1,2,3,4}
set2={5,6,7,8}
set1.isdisjoint(set2)

True

### 25. Create a set of squares of numbers from 1 to 5.

In [ ]:
my_set={1,2,3,4,5}
square_set=set()
for i in my_set:
  i=i*i
  square_set.add(i)
print("set of squares of numbers from 1 to 5 are:",square_set)

set of squares of numbers from 1 to 5 are: {1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [ ]:
my_set={1,2,3,4,5,6,7,8,9,10}
even_set=set()
for i in my_set:
  if i%2==0:
    even_set.add(i)
print("Even number set is ",even_set)

Even number set is  {2, 4, 6, 8, 10}

### 27. Multiply all elements in a set by 2.

In [ ]:
my_set={1,2,3,4,5}
double_set=set()
for i in my_set:
  i=i*2
  double_set.add(i)
print(double_set)

{2, 4, 6, 8, 10}

### 28. Create a set of random numbers.

In [ ]:
import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):

    random_num = random.randint(1, 100)
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {2, 73, 10, 55, 94}

### 29. check if set if empty or not.

In [ ]:
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

### 30. Create a nested set (hint: use frozenset).

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

### 31. Remove an element from a set using the discard method.

In [ ]:
set1={1,2,3,4,5,6}
set1.discard(3)
print("Remove an element from a set using the discard method",set1)

Remove an element from a set using the discard method {1, 2, 4, 5, 6}

### 32 .compare two sets

In [ ]:

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

### 33. Create a set from a string.

In [ ]:
Str="Dileep Kumar"
str1=Str.split()
str2=set(str1)
print("Set from a string is:",str2)

Set from a string is: {'Dileep', 'Kumar'}

### 34. Convert a set of strings to a set of integers.

In [ ]:
string={"1","2","3","4","5"}
int_set=set()
for i in string:
  i=int(i)
  int_set.add(i)
print(int_set)

{1, 2, 3, 4, 5}

### 35. Convert a set of integers to a set of strings.

In [ ]:
int_set={1, 2, 3, 4, 5}
str_set=set()
for i in int_set:
  i=str(i)
  str_set.add(i)
print(str_set)

{'4', '5', '1', '3', '2'}

### 36. Create a set from a tuple.

In [ ]:
tup=(1,2,3,4,5,6)
my_set=set(tup)
print("Tuple from a set is ",my_set)

Tuple from a set is  {1, 2, 3, 4, 5, 6}

### 37. Convert a set to a tuple.

In [ ]:
my_set={1,2,3,4,5}
tup=tuple(my_set)
print("set to a tuple is",tup)

set to a tuple is (1, 2, 3, 4, 5)

### 38. Find the maximum value in a set.

In [ ]:
my_set = {15, 7, 22, 13, 8}

max_value = None

for num in my_set:
    if max_value is None or num > max_value:
        max_value = num
print("Maximum value:", max_value)

Maximum value: 22

### 39. Find the minimum value in a set.

In [ ]:
my_set = {15, 7, 22, 13, 8}

min_value = None

for num in my_set:
    if min_value is None or num < min_value:
        min_value = num
print("Minimum value:", min_value)

Minimum value: 7

### 40. Create a set from user input.

In [ ]:
user_input_str = input("Enter elements for the set separated by commas: ")
elements_list = user_input_str.split(',')
user_set = set(elements_list)
print("Set created from user input:", user_set)

Enter elements for the set separated by commas: 11,23,45,65,86,878
Set created from user input: {'23', '65', '878', '11', '45', '86'}

### 41. Check if the intersection of two sets is empty.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

### 42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
n=6
fabino_sequ=[0,1]
for i in range(2,n):
  next_fabino=fabino_sequ[i-1]+fabino_sequ[i-2]
  fabino_sequ.append(next_fabino)
print("The set of first 5 fabinacci numbers are:",set(fabino_sequ))

The set of first 5 fabinacci numbers are: {0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [ ]:
lst=[11,22,11,33,44,22,44,33,55,66,55,77]
print("Remove duplicates from a list using sets",list(set(lst)))

Remove duplicates from a list using sets [33, 66, 11, 44, 77, 22, 55]

### 44. Check if two sets have the same elements, regardless of their count .

In [ ]:
set1={1,2,3,2,1}
set2={1,2,3}
set_1=sorted(list(set1))
set_2=sorted(list(set2))
if set_1==set_2:
      print("two sets are equal")
else:
  print("two sets are no equal")

two sets are equal

### 45. Create a set of the first n powers of 2

In [ ]:
my_set=set()
n=5
for i in range(1,n):
  i=2**i
  my_set.add(i)
print("set of first n power of 2 is:",my_set)

set of first n power of 2 is: {8, 16, 2, 4}

### 46. Find the common elements between a set and a list.

In [ ]:
set1={11,22,33,44,55}
lst1=[55,66,77,88,99]
set2=set(lst1)
set3=set1.intersection(set2)
print("common element between a set and a list is",set3)

common element between a set and a list is {55}

### 47. Create a set of the first n triangular numbers.:

In [ ]:
triangular_set=set()
n=10
for i in range(1,n):
  i=i*(i+1)//2
  triangular_set.add(i)
print(triangular_set)

{1, 3, 36, 6, 10, 45, 15, 21, 28}

### 48. Check if a set contains another set as a subset.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

### 49. Create a set of alternating 1s and 0s of length n.

In [ ]:
lst=[]
n=10
for i in range(1,n):
    lst.append(i%2)
print(set(lst))

{0, 1}

### 50. Merge multiple sets into one.

In [ ]:
set1={1,2,3,4,5,6}
set2={3,4,5,6,7,8,9}
set3={7,8,9,10}
set4=set1.union(set1,set2)
print("Merging of multiple sets into one set is",set4)

Merging of multiple sets into one set is {1, 2, 3, 4, 5, 6, 7, 8, 9}